*{box-sizing: border-box;font-family: 'Roboto', sans-serif;outline: 0;margin: 0;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:url('assets/fonts/roboto-v29-latin-100.eot');src:local(''),url('assets/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-100.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-100.woff') format('woff'),url('assets/fonts/roboto-v29-latin-100.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-100.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url('assets/fonts/roboto-v29-latin-300.eot');src:local(''),url('assets/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-300.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-300.woff') format('woff'),url('assets/fonts/roboto-v29-latin-300.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-300.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url('assets/fonts/roboto-v29-latin-regular.eot');src:local(''),url('assets/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-regular.woff') format('woff'),url('assets/fonts/roboto-v29-latin-regular.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url('assets/fonts/roboto-v29-latin-500.eot');src:local(''),url('assets/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-500.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-500.woff') format('woff'),url('assets/fonts/roboto-v29-latin-500.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-500.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url('assets/fonts/roboto-v29-latin-700.eot');src:local(''),url('assets/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-700.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-700.woff') format('woff'),url('assets/fonts/roboto-v29-latin-700.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-700.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:url('assets/fonts/roboto-v29-latin-900.eot');src:local(''),url('assets/fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'),url('assets/fonts/roboto-v29-latin-900.woff2') format('woff2'),url('assets/fonts/roboto-v29-latin-900.woff') format('woff'),url('assets/fonts/roboto-v29-latin-900.ttf') format('truetype'),url('assets/fonts/roboto-v29-latin-900.svg#Roboto') format('svg')}

html,body,app{display:block;height: 100%;width: 100%;}
html{
    background-image: url("assets/ui/classroomblur.jpg");
    background-position: center;
    background-size: cover;
}
body{overflow: hidden;}
app{
    padding: 20px;
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #66666666
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666666cc
}

::-webkit-scrollbar-thumb:active {
    background-color: #666
}

::-webkit-scrollbar-corner { background: #1a1a1a; }

::selection{
    background-color: #65baff55;
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Material-Icons-Outlined.woff2) format('woff2');
}

.m-i{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

.center{
    text-align: center;
}

modal{
    z-index: 5;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #000;
    background: #00000000;
    transition: 0.3s;
}

.x {
    color: #000;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 40%;
    top: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
}

.x:hover {
    background: #55555533;
    border-radius: 50%;
}


.x:active {
    background: #55555555;
    border-radius: 45%;
}

oaction {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    color: #293b3d;
    background: #65baffaa;
    border: 1px solid #65baff55;
    padding: 20px 12px;
    border-radius: 8px;
    transition: 0.4s;
}

oaction ti{
    display: block
}

oaction co{
    font-size: 12px
}

oaction .m-i{
    float: left;
}

oaction:hover {
    background: #65baffee;
    transform: translateY(-4px);
    box-shadow: 0 4px 0 #65baff66;
}

oaction:active {
    border: 1px solid #bbb;
    box-shadow: 0 0 6px #bbb;
    color: #fff;
    background: #0000001c;
    transform: initial;
    transition: background 0.1s, color 0.1s;
}

input{
    color: #000;
    background: none;
    border: 1px solid #222;
    border-radius: 0;
    width: 100%;
    padding: 8px;
    font-size: 24px;
    outline:0;
    margin-bottom: 16px;
    transition: 0.2s;
}

add{
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    user-select: none;

    position: absolute;
    height: 100%;
    max-height: 670px;
    width: 100%;
    max-width: 530px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%)scale(0.95);

    z-index: 10;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    color: #000;
    background: #ffffffcc;
    border-radius: 12px;
    transition: visibility 0.5s, transform 0.3s, opacity 0.1s;

    padding: 12px;
}

add h1{
    color: #293b3d;
}
add h1 span{
    transform: translateX(-4px)scale(1.24);
}
add de{
    display: block;
    text-align: left;
    font-size: 20px;
}
add input{
    border-radius: 4px;
}
add input:focus{
    border-radius: 8px;
    box-shadow: 0 1px 3px #000;
}

add button{
    position: absolute;
    font-size: 20px;
    bottom: 16px;
    border: 1px solid #44444488;
    border-radius: 4px;
    padding: 8px;
    width: calc(100% - 24px);
    display: block;
    background: #65baff55;
    transition: 0.2s;
}
add button:focus, add button:hover{
    box-shadow: 0 2px 6px #00000077;
}
add button:active{
    background: #65baff;
}
add color{
    cursor: pointer;
    border-radius: 50%;
    margin: 6px;
    display: inline-block;
    width: 64px;
    height: 64px;
    box-shadow: 0 3px 4px #333;
    transition: box-shadow 0.4s;
}
add subcolor{
    display: block;
    z-index: 3;
    margin: 25px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: 900;
}
add color:hover{
    box-shadow: 0 1px 7px #333;
}
whatitcando{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    position: relative;
    height: 80%;
    max-height: 670px;
    width: 100%;
    overflow: auto;

    color: #fff;
    background: #00000077;
    border-radius: 12px;
    transition: transform 0.3s, opacity 0.2s, visibility 0.5s;

    padding: 12px;
    display: block;
    z-index: initial;
    width: 90%;
    margin-left: 5%;
    max-width: initial;
    margin-top: 5%;
}

whatitcando h1{
    font-size: 32px;
    font-weight: 400;
}
whatitcando feature{
    margin: 40px 0;
    display: block;
    text-align: left;
}
whatitcando feature ti{
    display: block;
    font-size: 24px;
    font-weight: 600;
}
whatitcando feature co{
    display: block;
    max-width: 60%;
}
whatitcando version{
    color: #333;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
    background: #bbbbbb15;
    border-radius: 4px;
}
header{
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    height: 0;
    width: calc(100% - 70px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: #ffffff88;
    border-bottom: 1px solid #555;
    transition: 0.4s, visibility 0.6s;
}
header .f{
    position: absolute;
    transform: scale(1.2)translate(-33px, 14px);
}
header input{
    width: 90%;
    max-width: 500px;
    margin: 5px;
    border-radius: 4px;
}
header input:focus{
    border-radius: 8px;
    box-shadow: 0 1px 3px #000;
}
header searchoptions{
    text-align: left;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: #ffffffcc;
    display: block;
    position: absolute;
    width: 90%;
    max-width: 500px;
    min-height: 40px;
    box-shadow: 0 2px 4px #222;
    border: 1px solid #222;
    border-top: initial;
    border-radius: 0 0 4px 4px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.2s, visibility 0.4s;
}
header searchoptions opt{
    cursor: pointer;
    padding: 10px;
    display: block;
}
header searchoptions opt:hover, header searchoptions opt:focus{
    background: #55555533;
}
header searchoptions opt:active{
    background: #55555555;
}
sidepanel{
    user-select: none;
    text-align: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: #ffffff88;
    transition: 0.4s;
}
sidepanel line{
    position: absolute;
    right: -1px;
    bottom: 0;
    display: block;
    border-right: 1px solid #555;
    width: 1px;
    height: 100%;
    transition: 0.4s;
}
sidepanel el{
    cursor: pointer;
    background: #ffffff88;
    box-shadow: 0 2px 6px #666;
    font-weight: 500;
    display: block;
    margin: 9px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
}
sidepanel el:hover{
    box-shadow: 0 2px 8px #222;
}
sidepanel el:active{
    box-shadow: inset 0 1px 3px #666;
}
sidepanel .big{
    font-size: 24px;
    padding: 9px;
}
sidepanel .a{
    position: absolute;
    bottom: 70px;
}
sidepanel .b{
    bottom: 10px;
}
sidepanel span{
    transform: scale(2)translateY(27%);
}
sidepanel sideclass{
    display: block;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

activescreen {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    height: calc(100% - 60px);
    width: calc(100% - 71px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    opacity: 0;
    transform: translateY(16%);
    background: #fffffff0;
    transition: 0.4s, opacity 0.2s, visibility 0.5s;
}

classes{
    visibility: hidden;
    position: absolute;
    display: block;
    margin: 60px 70px;
    width: calc(100% - 100px);
    height: 100%;
    text-align: left;
}

classes class{
    margin: 0 20px 20px 0;
    cursor: pointer;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: inline-block;
    width: 250px;
    height: 200px;
    border-radius: 4px;
    background: #ffffffbb;
    padding: 12px;
    box-shadow: 1px 2px 3px -1px #555;
    transition: 0.3s;
}
classes class:hover{
    box-shadow: 1px 2px 4px #555;
}
classes class:active{
    background: #00000033;
}
classes class ti{
    overflow: hidden; /*this unless tryhard for better solution*/
    border-radius: 4px 4px 0 0;
    margin: -12px;
    padding: 12px;
    display: block;
    font-size: 24px;
}

:root{
    --color1: #65baff;
    --color2: #000;
}
.class input, .settings h2{
    background: linear-gradient(to left, rgba(255,0,0,0), var(--color1));
    color: var(--color2);
    padding: 21.5px 16px;
    width: calc(100% - 72px);
    border: 0;
    transition: .3s;
}
.class input:focus{
    background-color: var(--color1);
}